.background {
    display: flex;
    flex-direction: column;
    background-color: #B0C0E7;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
} 

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.button {
    background-color: #7289DA;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}
.logo {
    background-color: #B0C0E7;
    border: none;
}
.logo:hover {
    cursor: pointer;
}

/* ============FORM=========*/
.form {
    background-color: #FFFFFF;
    padding: 40px 50px 0px 50px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.form input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 16px;
}

.form input:focus {
    outline: none;
}

.formSubmit {
    background-color: #4885ED;
    padding: 15px;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
}

.formTab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.formButton {
    background-color: #bdbfc4;
    padding: 15px;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #4885ED;
}

.bar {
    background-color: #4885ED;
    height: 3px;
    width: 90%;
}